.tag {
  border-radius: 6px;
  font-size: 14px;
  text-transform: capitalize;
  border: 1px solid gray;
  color: gray;
  background-color: rgba(185, 185, 185, 0.474);
  padding: 0 8px;
  min-width: max-content;
}

.blue {
  border: 1px solid #4962ff;
  color: #4962ff;
  background-color: #f0f3ff;
}

.deleted {
  border: 1px solid #ffa58a;
  color: #ff4a3d;
  background-color: #fffbeb;
}

.disabled {
  border: 1px solid #c9ced6;
  color: #c9ced6;
  border: 1px solid #c9ced6;
}
