.input {
  border-radius: 8px;
}

.label {
  
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #4e5d78;
}

.wrapper {
  padding-top: 16px;
}

.noPaddingTop {
  padding-top: 0px;
}
