@import "styles/layout";
@import "styles/constant";

.container {
  & :global(.nav-tabs) {
    margin-top: 0;
    max-width: 200px;
  }

  & > h2 {
    font-weight: bold;
  }

  @include bootstrap-respond($large-screen) {
    width: 62%;
    margin: 31px auto;
    padding: 29px 42px;
  }

  @include bootstrap-respond($small-screen) {
    flex-direction: column;
    margin-top: 20px;
  }

  display: flex;
  flex-direction: column;

  .body {
    width: 100%;
  }
}
