.newPasswordWrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  color: #323a46;
  margin-bottom: 6px;
}

.wrapper {
  padding-bottom: 13px;
}
