.wrapper {
  padding-left: 10px;
}

.stepWrapper {
  display: flex;
  padding-left: 50px;
  align-items: center;
  background: white;
}

.processWrapper {
  padding-left: 20px;
}

.background {
  background: #bebebe28;
}
