.wrapper {
  padding-left: 10px;
}

.stepWrapper {
  display: flex;
  align-items: center;
  background: white;
}

.processWrapper {
  padding-left: 20px;
}

.background {
  background: #bebebe28;
}

.option {
  display: flex !important;
  align-items: center;
  &:hover {
    cursor: pointer;
    background: #eef3f8;
    // background: #dbf8ff;
  }

  .optionName {
    margin-left: 10px;
  }
}

.valueContainer {
  display: flex;
  align-items: center;
  width: calc(100% - 40px);

  .valueChildren {
    margin-left: 5px;
  }
}

.optionLabel {
  padding-left: 10px;
}
